name: Update Dengue CSV
permissions:
  contents: write
  
on:
  schedule:
    - cron: "0 18 * * *"   # Runs at 06:00 PM Bangladesh time (18:00 UTC)
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    env:
      GSHEET_JSON: ${{ secrets.GSHEET_JSON }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev

      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c("httr","stringr","jsonlite","dplyr","readr","googlesheets4"), repos="https://cloud.r-project.org")'

      - name: Run scraping script
        run: |
          Rscript dghs_dengue_dashboard_fetching.R
